<h1>New User</h1>
<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>
  <!-- Add more user fields as needed -->
  <div class="actions">
    <%= f.submit 'Create User' %>
  </div>
<% end %>
